* {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 80px;
    display: block;
}
.header2 {
    width: 500px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.name {
    height: 100%;
    display: table;
    float: left;
}
.name h1 {
    color: black;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Bad Script', cursive;
    text-align: left;
    letter-spacing: 10px;
    padding-top: 0px;
}
.name img {
    width: 150px;
    display: table-cell;
}
ul#samping li{
    display: inline;
    float: right;
}
.nav-atas a {
    height: 80%;
    display: table;
    padding: 30px 20px 30px 20px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-atas a li {
    display: table-cell;
    vertical-align: middle;
}
nav{
    background-color:gainsboro;
}
nav ul {
    text-align: center;
    list-style: none;
    padding: 0px;
}
nav li {
    display: inline-block;
    text-align: center;
}
nav a {
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100px;
    height: 70px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: lighter;
}
li a:hover {
    background-color: cornflowerblue;
}
.aboutWeb {
    text-align: center;
    padding: 200px;
    background-image: url(img/shoezz.jpg);
}
.aboutWeb h1 {
    font-size: 50px;
    font-family: 'Bad Script', cursive;
    letter-spacing: 20px;
}
.aboutWeb p {
    font-size: 25px;
    margin-top: 30px;
    color:black
}
article {
    border-style: solid;
    border-color: gainsboro;
    margin: 50px 300px 50px 300px;
    padding: 30px 50px 30px 50px;
}
article h4 {
    font-size: 25px;
    padding-top: 20px;
}
article p {
    font-size: 20px;
    padding-top: 20px;
    font-style: 'Dosis', sans-serif;
}
h3 {
    text-align: center;
    font-size: 40px;
    padding-top: 85px;
}
.card {
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    margin: auto;
    text-align: center;
    font-family: arial;
    float: left;
    margin-right: 45px;
    margin-left: 50px;
    margin-top: 50px;
}
.price {
    color: grey;
    font-size: 22px;
}
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card button:hover {
    opacity: 0.7;
}
.footer {
    background-color:gainsboro;
    margin-top: 50%;
    height: 100px;

}
.footer p{
    text-align: center;
}
.footer img {
    width:30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}