* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/dosis/v16/HhyJU5sn9vOmLxNkIwRSjTVNWLEJN7Ml2xMCbKsUPqjm.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.product img {
    width: 350px;
    height: 350px;
    
}

.product h1 {
    position: absolute;
    text-align: center;
    top: -100px;
    right: 0;
    bottom: 0;
    left: -115px;
    opacity: 0;
    width: 100%;
    height: 80%;
    transform: translate3d(115px, 100px, 0);
    transition: opacity 0.2s, transform 0.45s ease;
    background-color: transparent;
    
    
}



.product h1:hover {
    opacity: 1;
    transform: translate3d(115px, 150px, 0);
    
}



li {
    font-family: 'Dosis';
    display: inline-block;
    margin: 20px;
    position: relative;
    left: 130px;
}

nav{
    background-color:gainsboro;
    position: fixed;
    z-index: 1;
    width: 100%;
    text-align: center;
}
nav ul {
    text-align: center;
    list-style: none;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
}
nav li {
    display: inline-block;
    text-align: left;
    padding: 0 50px;
    margin: 0 auto;
}
nav a {
    color: black;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100px;
    height: 70px;
    padding-top: 20px;
    font-size: 25px;
    font-weight: lighter;
}
li a:hover {
    background-color: cornflowerblue;
}



